<div id="appDetail" class="app-detail container-fluid p-4">
  <h2 class="text-center py-3">Network</h2>

  <!-- Underline Tab Navigation -->
  <div class="underline-tabs d-flex justify-content-center">
    <a
      class="underline-tab"
      [routerLink]="['interface']"
      routerLinkActive="active-underline"
      >Interface</a
    >
    <a
      class="underline-tab"
      [routerLink]="['gateway']"
      routerLinkActive="active-underline"
      >Gateway</a
    >
    <span class="underline-tab disabled-tab">Priorities</span>
    <a
      class="underline-tab"
      [routerLink]="['dns']"
      routerLinkActive="active-underline"
      >DNS</a
    >
    <span class="underline-tab disabled-tab">Static Route</span>

    <span class="underline-tab disabled-tab">Priorities</span>
    <span class="underline-tab disabled-tab">Priorities</span>
  </div>

  <!-- Content Section -->
  <div class="tab-content mt-4 p-4 shadow rounded bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
