

  .tabs-container .nav-link {
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease;
  }
  
  .tabs-container .nav-link.active {
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
  }
  
  .tabs-container .nav-link:hover {
    color: #0056b3;
  }
  