<div class="container mt-4">
    <h2>Backup Restore</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="fileBackup" class="d-block">Upload Backup File</label>
        <div class="input-div">
          <input class="input" name="fileBackup" type="file" (change)="onFileChange($event, 'fileBackup')" />
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon">
            <polyline points="16 16 12 12 8 16"></polyline>
            <line y2="21" x2="12" y1="12" x1="12"></line>
            <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
            <polyline points="16 16 12 12 8 16"></polyline>
          </svg>
        </div>
      </div>
  
      <div class="form-group mb-3">
        <label for="userSessionBackup" class="d-block">Upload User Session Backup</label>
        <div class="input-div">
          <input class="input" name="userSessionBackup" type="file" (change)="onFileChange($event, 'userSessionBackup')" />
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon">
            <polyline points="16 16 12 12 8 16"></polyline>
            <line y2="21" x2="12" y1="12" x1="12"></line>
            <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
            <polyline points="16 16 12 12 8 16"></polyline>
          </svg>
        </div>
      </div>
  
      <div class="form-group mb-3">
        <label for="rrdBackup" class="d-block">Upload RRD Backup</label>
        <div class="input-div">
          <input class="input" name="rrdBackup" type="file" (change)="onFileChange($event, 'rrdBackup')" />
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon">
            <polyline points="16 16 12 12 8 16"></polyline>
            <line y2="21" x2="12" y1="12" x1="12"></line>
            <path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path>
            <polyline points="16 16 12 12 8 16"></polyline>
          </svg>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Restore Backup</button>
    </form>
  </div>
  