<div class="widget" >
    <div class="widget-header">
      Widget 1>
        <i class="fas fa-minus"></i>
      
      <button *ngIf="collapsed" class="collapse-btn" >
        <i class="fas fa-plus"></i>
      </button>
    </div>
    
    <div class="widget-content" *ngIf="!collapsed">
      <p>This is Widget 1 content with a red button inside.</p>
      <p>This is Widget 1 content with a red button inside.</p>
      <p>This is Widget 1 content with a red button inside.</p>
      <p>This is Widget 1 content with a red button inside.</p>
      <p>This is Widget 1 content with a red button inside.</p>
      <p>This is Widget 1 content with a red button inside.</p>
      <p>This is Widget 1 content with a red button inside.</p>
     
      <button class="btn-red">Red Button</button>
  
    
      
    </div>
  </div>
  