/* General layout */
.container-fluid {
  padding: 20px;
}

.card {
  margin-bottom: 20px;
}

.key-metric-card {
  background-color: #f8f9fa;
}

.chart-placeholder,
.map-placeholder,
.node-status-placeholder {
  height: 200px;
  background-color: #e9ecef;
  text-align: center;
  line-height: 200px;
  color: #6c757d;
}

.table th, .table td {
  vertical-align: middle;
}

.btn {
  margin-right: 10px;
}

.mt-4 {
  margin-top: 30px;
}

/* Custom styling for alert box */
.alert {
  margin-bottom: 10px;
}


.card {
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.key-metric-card {
  border-left: 5px solid var(--primary-color);
}

.card-header {
  background-color: var(--primary-color);
  color: #fff;
}

.card-body {
  padding: 15px;
}

/* Buttons */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-success {
  background-color: var(--success-color);
  border-color: var(--success-color);
}

.btn-warning {
  background-color: var(--warning-color);
  border-color: var(--warning-color);
}

.btn-info {
  background-color: var(--info-color);
  border-color: var(--info-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.alert-warning {
  background-color: var(--warning-color);
  color: #212529;
}

.apexcharts-canvas {
  border-radius: 8px;
  background-color: #f8f9fa; /* Light background */
}



.collapse-btn {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  background-color: #007bff; /* Original color */
  color: white;
  border: none;
  border-radius: 3px;
}



/* Hover effect */
.key-metric-card:hover {
  transform: translateY(-10px); /* Slightly lift the card */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  background-color: var(--primary-color); /* Change background color to primary color on hover */
}

.key-metric-card:hover .card-title {
  color: var(--text-white-color); /* Ensure the title stays visible on hover */
}

.key-metric-card:hover .card-text {
  color: var(--text-white-color); /* Ensure the text stays visible on hover */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .key-metric-card {
    margin-bottom: 15px; /* Space between cards on small screens */
  }
}
